# Question 1
<b> Steps 1 to 3</b>

In [9]:
import pandas as pd
import numpy as np


#variable data that reads the dataset
users = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='\t')

#rename the default column name for easier work
users = users.rename(columns={'user_id|age|gender|occupation|zip_code': 'temp'}, index={'ONE': 'Row_1'})

#create columns as stated in the data set and split the data into such columns
users[['user_id', 'age', 'gender', 'occupation', 'zip_code']] = users.temp.str.split("|", expand = True)

users.drop(columns =['temp'], inplace = True) #drop the original renamed column

users.head()

  user_id age gender  occupation zip_code
0       1  24      M  technician    85711
1       2  53      F       other    94043
2       3  23      M      writer    32067
3       4  24      M  technician    43537
4       5  33      F       other    15213

<b> Step 4 - mean age per occupation</b>

In [10]:
users['age'] = users['age'].astype(int) #convert string data into int to use it on calculations

users.groupby('occupation').mean()  #group by occupation to filter the data and then use mean()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

<b>Step 6 - min and max age for each occupation</b>

In [11]:
users.groupby(['occupation']).min('age').head() #min age per occupation

               age
occupation
administrator   21
artist          19
doctor          28
educator        23
engineer        22

In [12]:
users.groupby(['occupation']).max('age').head() #max age per occupation

               age
occupation
administrator   70
artist          48
doctor          64
educator        63
engineer        70

<b>Step 7 - mean age for each combination of occupation and sex</b>

In [13]:
users.groupby(['occupation','gender']).mean().head() #mean age for female and male within each occupation

                            age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429

<b>Step 8 - percentage of M and F er occupation</b>

In [14]:
#variable percentage will create a pivot table indexed by occupation and using gender as columns.
percentage = users.pivot_table(index='occupation', columns='gender',  aggfunc='size', fill_value=0)

#variabl calcTotal will take the pivot table with its columns F and M and will sum based on axis 1 (column)
sumFM = percentage[['F', 'M']].sum(axis=1)

#create a new column to store the % by taking the values of M and dividing it by the sum of F and M (sumFM)
percentage['% of Male'] = (100 * percentage['M'])/sumFM
percentage['% of Male'] = percentage['% of Male'].round(decimals=1)     ##round decimals to 1

#create a new column to store the % by taking the values of F and dividing it by the sum of F and M (sumFM)
percentage['% of Female'] = (100 * percentage['F'])/sumFM
percentage['% of Female'] = percentage['% of Female'].round(decimals=1)  #round decimals to 1

#drop extra columns F and M
percentage.drop(columns =['F'], inplace = True)
percentage.drop(columns =['M'], inplace = True)

percentage.sort_values(by='% of Male', ascending=False).head()

gender      % of Male  % of Female
occupation
doctor          100.0          0.0
engineer         97.0          3.0
technician       96.3          3.7
retired          92.9          7.1
programmer       90.9          9.1

# Question 2
<b>steps 1 to 3</b>

In [15]:
import pandas as pd
import numpy as np

euro12 = pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

<b>step 4 - select only the Goals column</b>

In [16]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

<b>step 5 - teams on the Euro 2012</b>

In [17]:
print('{} teams participated on the Euro 2012'. format(euro12['Team'].count()))

16 teams participated on the Euro 2012

<b>step 6 - number of columns</b>

In [18]:
print('there are {} columns on this dataset'.format(len(euro12.columns)))

there are 35 columns on this dataset

<b>step 7 - view only columns Team, Yellow Cards, Red Cards, and assign them to a daaframe called discipline</b>

In [19]:
#reference from: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html

#use copy() method to copy specific columns from euro12 to discipline dataframe

discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']].copy()

discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

<b>step 8 - Sort the teams by Red Cards, then to Yellow Cards</b>

In [20]:
#index by teams
indexed_euro12 = euro12.set_index('Team')

#sort the dataframe by Red Cards and then by Yellow Cards
indexed_euro12.sort_values(by=['Red Cards', 'Yellow Cards']).head()

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
Team,,,,,,,,,,,,,,,,,,,,,
Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,...,10,66.7%,25,38,8,4,0,7,7,15
Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,...,10,62.6%,63,49,12,4,0,15,15,17
England,5,11,18,50.0%,17.2%,40,0,0,0,3,...,22,88.1%,43,45,6,5,0,11,11,16
Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,...,13,76.5%,48,31,4,5,0,9,9,18

<b>step 9 - Calculate the mean Yellow Cards given per Team</b>

In [21]:
#use the mean() method over the Yellow Cards colum of euro12
print('an average of {} Yellow cards were given per team'.format(euro12['Yellow Cards'].mean()))

an average of 7.4375 Yellow cards were given per team

<b>step 10 - Filter teams that scored more than 6 goals </b>

In [22]:
#create a new data frame to apply the filter
#Column Goals will have a specific condition (greater than 6) to select data

filteredEuro12 = euro12[(euro12['Goals']>6)]

filteredEuro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

<b>step 11 - Select the teams that start with G</b>

In [23]:
#reference: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.startswith.html
#use startswith() to clarify that the string of column Team starts with uppercase G

filteredEuro12 = euro12[(euro12['Team'].str.startswith('G'))]

filteredEuro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

<b>step 12 - Select the first 7 columns</b>

In [24]:
#use columns[] to select a column range indicating 0 as the start column and 7 as the last column to be shown

euro12[euro12.columns[0:7]]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

<b>step 13 - Select all columns except the last 3</b>

In [25]:
#use the same code as above but select -3 as the max range to get 3 columns back
euro12[euro12.columns[0:-3]]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

<b>step 14 - Present only the Shooting Accuracy from England, Italy and Russia</b>

In [26]:
#create a new datagrame to store the filtered values
#filter euro12 dataframe to include records containing the 3 countries requested

filteredEuro12 = euro12[(euro12['Team'].str.contains('England|Italy|Russia'))]

filteredEuro12[['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

# Question 3
<b>Steps 1 and 2 </b>

In [27]:
import pandas as pd
import numpy as np

#create the 3 Panda Series from random integers within the min and max requested and with a size of 100 values
serie1 = pd.Series(np.random.randint(1,5, size=100), name = 'serie1')

serie2 = pd.Series(np.random.randint(1,4, size=100), name = 'serie2')

serie3 = pd.Series(np.random.randint(10000,30001, size=100),name = 'serie3')

<b>Step 3. Create a DataFrame by joinning the Series by column</b>

In [28]:
#reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

#use pd.concat() from the Pandas library to link the 3 series created into one data frame
newDF = pd.concat([serie1, serie2, serie3], axis = 1)

newDF.head()

   serie1  serie2  serie3
0       2       2   20384
1       4       2   24123
2       2       2   19308
3       2       1   14007
4       1       2   28691

<b>Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter</b>

In [29]:
#rename column names as requested
newDF.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
newDF.head()

   bedrs  bathrs  price_sqr_meter
0      2       2            20384
1      4       2            24123
2      2       2            19308
3      2       1            14007
4      1       2            28691

<b>Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'</b>

In [30]:
#reference: https://stackoverflow.com/questions/33098383/merge-multiple-column-values-into-one-column-in-python-pandas

bigcolumn = pd.DataFrame(columns = ['bigcolumn'])


#populate bigcolumn with the 3 series from the modified data frame newDF, starting from column 0 and through all columns avilable = columns[0:]
#use apply() to call the lambda function to apply changes to every row
#the lambda function will join columns from newDF and separate them by comas
# within lambda, x represents the values to join, that are converted to strings (error thrown if not)
    
bigcolumn['bigcolumn'] = newDF[newDF.columns[0:]].apply(lambda x: ', '.join(x.astype(str)),axis=1)
                        
bigcolumn

      bigcolumn
0   2, 2, 20384
1   4, 2, 24123
2   2, 2, 19308
3   2, 1, 14007
4   1, 2, 28691
..          ...
95  4, 3, 27173
96  1, 3, 13568
97  1, 1, 25639
98  2, 1, 15350
99  2, 3, 10368

[100 rows x 1 columns]

<b> Step 6. Ops it seems it is going only until index 99. Is it true?

Step 7. Reindex the DataFrame so it goes from 0 to 299</b>

In [31]:
#reference: https://programmer.ink/think/pandas-how-do-i-split-text-in-a-column-into-multiple-lines-python.html

#convert dataframe to strings to split them into rows
bigcolumn['bigcolumn'] = bigcolumn['bigcolumn'].astype(str)

#drop existing column, and use join() to add the split content from bigcolumn following the ', ' pattern and expanding the split
#stack() to reshape the dataframe, and use reset_index
#rename the column dropped 

bigcolumn = bigcolumn.drop('bigcolumn', axis=1).join(bigcolumn['bigcolumn'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).rename('bigcolumn'))

#reset_index again to organize the indexing from 0 to 299
bigcolumn = bigcolumn.reset_index(drop=True)

bigcolumn

    bigcolumn
0           2
1           2
2       20384
3           4
4           2
..        ...
295         1
296     15350
297         2
298         3
299     10368

[300 rows x 1 columns]

# Question 4

<b>steps 1 to 5 </b>

In [1]:
import pandas as pd
import numpy as np
import datetime

#variable data that reads the dataset
data = pd.read_csv(r'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data', sep='\t')

#rename the default column name for easier work
data = data.rename(columns={'Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL': 'temp'}, index={'ONE': 'Row_1'})

#create columns as stated in the data set and split the data into such columns
data[['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO', 'BEL', 'MAL']] = data.temp.str.split(expand=True)

data.drop(columns =['temp'], inplace = True) #drop the original renamed column

data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,61,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

<b> convert date columns to a single datetime column</b>

In [2]:
#convert the Yr format to int to avoid datetime conversion errors (I was gettng 2061 using the code below alone)
data['Yr'] = data['Yr'].astype(int)
data['Yr'] = data.apply(lambda x: x['Yr']+1900,axis=1)
data['Yr'] = data['Yr'].astype(str)

#create column Date and convert the 3 columns to datetime datatype
data['Date'] = pd.to_datetime(data[['Yr', 'Mo', 'Dy']].astype(str).agg('-'.join, axis=1))

data.head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,Date
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04,1961-01-01
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83,1961-01-02
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71,1961-01-03
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88,1961-01-04
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83,1961-01-05

In [3]:
data.dtypes

Yr              object
Mo              object
Dy              object
RPT             object
VAL             object
ROS             object
KIL             object
SHA             object
BIR             object
DUB             object
CLA             object
MUL             object
CLO             object
BEL             object
MAL             object
Date    datetime64[ns]
dtype: object

In [4]:
#index data based on the datatime column created
data = data.set_index('Date')
data

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-01,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-27,1978,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,1978,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,1978,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,1978,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

<b>step 6</b>

In [5]:
#convert data to numeric values, ignoring NaN values
data[['Yr','Mo','Dy','RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']] = data[['Yr','Mo','Dy','RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']].apply(pd.to_numeric, errors='coerce')

#reference: https://datatofish.com/count-nan-pandas-dataframe/
#isna() to detect missing values
print('{} values are missing'.format(data.isna().sum().sum()))

31 values are missing

<b>Step 7</b>

In [6]:
data.info() #confirm the total number of entries

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6574 entries, 1961-01-01 to 1978-12-31
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yr      6574 non-null   int64
 1   Mo      6574 non-null   int64
 2   Dy      6574 non-null   int64
 3   RPT     6568 non-null   float64
 4   VAL     6571 non-null   float64
 5   ROS     6572 non-null   float64
 6   KIL     6569 non-null   float64
 7   SHA     6572 non-null   float64
 8   BIR     6574 non-null   float64
 9   DUB     6571 non-null   float64
 10  CLA     6572 non-null   float64
 11  MUL     6571 non-null   float64
 12  CLO     6573 non-null   float64
 13  BEL     6574 non-null   float64
 14  MAL     6570 non-null   float64
dtypes: float64(12), int64(3)
memory usage: 821.8 KB

In [7]:
#total data entry minus missing values using isna() method.

print('{} entries are non-missing values'.format(6574-data.isna().sum().sum()))

6543 entries are non-missing values

<b>Step 8</b> Calculate the mean windspeeds of the windspeeds over all the locations and all the times.

In [8]:
#mean for each location in Ireland using mean() over specific columns
data[['RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']].mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

In [9]:
#for the overall mean, use mean() over the mean() for columns.
print('Ireland windspeeds mean of means!! = {}' .format(data[['RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']].mean().mean()))

Ireland windspeeds mean of means!! = 10.227982360836924

<b>Step 9</b> Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

In [10]:
loc_stats = data[['RPT','VAL','ROS','KIL','SHA','BIR','DUB','CLA','MUL','CLO','BEL','MAL']].describe()

loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

<b>Step 10</b> Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

In [14]:
# use transpose() method to switch rows by columns, so now it is possible to describe() values for each of the 6,574 days.
day_stats = pd.DataFrame.transpose(data)
day_stats.describe()

Date,1961-01-01,1961-01-02,1961-01-03,1961-01-04,1961-01-05,1961-01-06,1961-01-07,1961-01-08,1961-01-09,1961-01-10,...,1978-12-22,1978-12-23,1978-12-24,1978-12-25,1978-12-26,1978-12-27,1978-12-28,1978-12-29,1978-12-30,1978-12-31
count,14.000000,14.000000,14.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,150.442857,149.192857,149.504286,136.362000,139.637333,137.792000,139.574667,139.723333,139.318000,139.848667,...,139.734000,146.690667,142.925333,138.916667,139.618667,147.833333,146.653333,146.512000,146.960667,147.055333
std,521.138056,521.493581,521.406085,504.781236,503.877109,504.385915,503.895729,503.856918,503.964911,503.821465,...,508.564616,506.632662,507.709452,508.802552,508.612811,506.357269,506.711433,506.705578,506.580837,506.558027
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,2.460000,9.500000,4.790000,0.750000,1.960000,8.080000,5.000000,8.710000,9.130000,9.590000
25%,9.965000,8.170000,7.877500,4.270000,7.375000,5.685000,7.770000,7.620000,7.915000,8.435000,...,5.210000,12.895000,7.290000,4.685000,3.435000,13.605000,10.710000,11.270000,12.290000,11.605000
50%,12.875000,10.435000,11.210000,5.830000,10.920000,7.500000,9.290000,9.620000,10.000000,9.710000,...,7.580000,16.500000,11.710000,6.580000,6.960000,15.590000,14.330000,14.420000,14.040000,12.080000
75%,15.020000,13.527500,12.740000,9.605000,12.420000,10.315000,13.645000,12.625000,11.705000,11.625000,...,11.500000,20.000000,12.185000,10.355000,11.980000,17.600000,19.920000,19.025000,19.895000,21.205000
max,1961.000000,1961.000000,1961.000000,1961.000000,1961.000000,1961.000000,1961.000000,1961.000000,1961.000000,1961.000000,...,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000

<b>Step 12. Downsample the record to a yearly frequency for each location.</b>

In [24]:
# reference for steps 12, 13 and 14. https://www.w3resource.com/pandas/series/series-resample.php

#use resample() to group data per year (Y) based on the datatime values

data.resample('Y').sum().head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-12-31,715765,2382,5738,4427.85,3747.35,4124.54,2511.92,3950.08,2821.35,3523.68,3215.74,3130.45,3580.15,4928.52,4952.44
1962-12-31,716130,2382,5738,4457.88,3690.31,4282.44,2533.60,3890.14,2698.47,4022.56,3209.72,3035.64,3531.83,4719.70,5213.92
1963-12-31,716495,2382,5738,4676.91,3955.50,4577.52,2675.47,4279.30,3078.67,4042.63,3772.84,3249.81,3731.92,4978.19,5474.64
1964-12-31,718824,2384,5767,4525.10,3996.78,4430.20,2484.33,4192.34,2770.94,3754.85,3465.05,2850.78,3736.11,5029.04,5457.17
1965-12-31,717225,2382,5738,4544.75,4042.57,4324.80,2503.34,4024.05,2729.51,3875.83,3241.17,2886.21,3620.10,4731.95,5690.95

<b>Step 13. Downsample the record to a monthly frequency for each location.</b>

In [22]:
#same as above but go by Month
data.resample('M').sum().head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-31,60791,31,496,445.24,359.65,416.38,239.84,321.11,266.23,346.73,277.36,281.66,313.33,430.31,455.80
1961-02-28,54908,56,406,455.54,419.31,389.92,249.23,387.86,306.25,332.94,331.69,331.00,356.00,520.33,431.53
1961-03-31,60791,93,496,326.70,350.19,333.34,218.52,325.79,274.87,298.97,304.72,298.53,348.81,508.74,471.60
1961-04-30,58830,120,465,321.68,282.83,299.94,174.92,253.05,194.85,207.76,212.84,220.27,217.11,334.42,308.35
1961-05-31,60791,155,496,305.69,265.50,335.36,177.16,294.20,203.82,228.12,253.49,249.22,263.48,368.91,372.36

<b>Step 14. Downsample the record to a weekly frequency for each location.</b>

In [29]:
#7D = goes by day (D) in batches of 7.
data.resample('7D').sum().head()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Date,,,,,,,,,,,,,,,
1961-01-01,13727,7,28,98.87,74.13,78.96,48.30,56.70,47.63,76.81,42.33,60.62,61.60,89.25,91.25
1961-01-08,13727,7,77,86.20,62.85,79.58,35.95,53.70,39.67,64.54,48.53,44.49,57.83,86.96,86.88
1961-01-15,13727,7,126,94.88,72.83,92.71,44.50,54.31,49.55,57.92,54.92,48.43,55.00,65.41,76.87
1961-01-22,13727,7,175,128.87,94.96,115.21,73.67,104.82,89.60,96.08,92.91,86.24,97.03,129.68,144.25
1961-01-29,13727,11,100,95.79,115.38,90.92,63.64,103.36,71.41,93.47,64.55,76.84,73.04,106.47,92.26

# Question 5
<b>steps 1 to 4<b>

In [44]:
import pandas as pd
import numpy as np

#variable chipo that reads the dataset
chipo = pd.read_csv(r'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

#first 10 entries
chipo[0:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

<b>step 5 and 6</b>

In [45]:
print("""Step 5 = 4,622 entries/observations

Step 6 = 5 columns in the data set
""")

print(chipo.info())

Step 5 = 4,622 entries/observations

Step 6 = 5 columns in the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

<b>step 7 </b>

In [46]:
#for loop to iterate through the columns of chipo and print each one
for colName in chipo.columns :
    print(colName)

order_id
quantity
item_name
choice_description
item_price

<b>step 8</b>

This data set has not been specially indexed, so it has default indexation (0 based)

<b>step 9 and 10</b>

In [47]:
print('the most ordered item is "Chicken Bowl" and it was ordered 761 times')

#grpoupby() item name, then sum() values for the applicable columns, and sort from biggest to smallest based  on quantity
chipo.groupby(['item_name']).sum().sort_values('quantity', ascending=False).head()

the most ordered item is "Chicken Bowl" and it was ordered 761 times

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

<b>step 11</b>

In [48]:
print("the most ordered item within coice_description column was Diet Coke (159 times)")

#same as above, but change the column within grouby()
chipo.groupby(['choice_description']).sum().sort_values('quantity', ascending=False).head()

the most ordered item within coice_description column was Diet Coke (159 times)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

<b>step 12</b>

In [49]:
#same as above. sum() values of column quanity
print('{} items were ordered in total'.format(chipo['quantity'].sum(axis = 0)))

4972 items were ordered in total

<b> step 13 </b>

In [50]:
#create a temporary df to split the item_pirce column by $
tempDF = chipo['item_price'].str.split('$', n = 1, expand = True)
  
chipo['$$']= tempDF[0]
chipo['amount']= tempDF[1]

#drop extra columns
chipo.drop(columns =['$$'], inplace = True)
chipo.drop(columns =['item_price'], inplace = True)

#rename amount column back to item_price
chipo.rename(columns = {'amount':'item_price'}, inplace = True)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

confirming item_price dataype = float64

In [51]:
#convert datatype to float
chipo['item_price'] = chipo['item_price'].astype(float)

#check datatype for item_price
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

<b>step 14 </b>

In [52]:
#create a new column that multiplies the quantity by the item price
chipo['revenue']= chipo['item_price']*chipo['quantity']

#sum the revenue column
print('the total revenue is = ${}' .format(chipo['revenue'].sum()))

the total revenue is = $39237.02

<b>step 15</b>

In [53]:
#count all order IDs since each one might have different quantities

#the result matches the number of rows
print('Total orders made = {}' .format(chipo['order_id'].count()))

Total orders made = 4622

<b>step 16</b>

In [54]:
#average revenue per order = total revenue divided by count of orders

print('the average revenue amount per order is = ${}' .format(chipo['revenue'].sum()/chipo['order_id'].count()))

the average revenue amount per order is = $8.48918649935093

<b>step 17</b>

In [55]:
#leng() to calculate the length of the selection of item_bame
print('{} different items are sold' .format(len(chipo.groupby(['item_name']))))

50 different items are sold

# --- IMPORTANT ---
<b> Plotly charts/graphs need to run in order to see output. Github will not show them unless you run them again. I have added screenshots, but feel free to copy/paste the codes to confirm these are valid outputs for all the questions below</b>

# Question 6
Create a line plot showing the number of marriages and divorces per capita in the U.S. between 1867 and 2014. Label both lines and show the legend.

In [70]:
#import libraries
import numpy as np 
import pandas as pd 

from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

marriages = pd.read_csv('us-marriages-divorces-1867-2014.csv') #read csv into dataframe and specify column names

In [71]:
# Creating trace1 for the green marriages
trace1 = go.Scatter(
                    x = marriages.Year, # axis 0 = x = column Year
                    y = marriages.Marriages_per_1000,  # axis 1 = y = column Marriages_per_1000
                    mode = "lines",    #line type
                    name = "Marriages per capita", 
                    marker = dict(color = 'rgba(255, 0, 0, 0.8)'),
                    text= marriages.Marriages_per_1000)

# Creating trace2 for the purple line for divorces
trace2 = go.Scatter(
                    x = marriages.Year, 
                    y = marriages.Divorces_per_1000,  
                    mode = "lines",
                    name = "Divorces per capita",
                    marker = dict(color = 'rgba(0, 204, 0, 0.8)'),
                    text= marriages.Divorces_per_1000)

#new list made of the two traces/plots created
data = [trace1, trace2]

#define layout in dictionary format, starting with title, x axis name
layout = dict(title = 'Marriages and Divorces per Capita between 1867 and 2014',
              xaxis= dict(title= 'Year',ticklen= 10,zeroline= False),            
              yaxis= dict(title= 'Marriages and Divorces',ticklen= 10,zeroline= False) 
             )

fig = dict(data = data, layout = layout)  #variable fig which is a dictionary where data = the list of 2 traces, and layout = layout
iplot(fig)

In [13]:
from IPython.display import Image
from IPython.core.display import HTML 
print('screenshot in case you do not run the code again:')
Image(url= "https://github.com/MatiasECP/Matias.Contreras.BDAT1004PS3/blob/main/Q6.PNG?raw=true")

screenshot in case you do not run the code again:

# Question 7
Create a vertical bar chart comparing the number of marriages and divorces per capita in the U.S. between 1900, 1950, and 2000.

Don't forget to label your axes!

In [68]:
#create subsets from the original data set and append it to a new dataframe
marriages1900 = marriages[marriages.Year == 1900]
marriages1950 = marriages[marriages.Year == 1950]
marriages2000 = marriages[marriages.Year == 2000]

#create dataframe and add columns
finalMarriages = pd.DataFrame(columns = ['Year', 'Marriages', 'Divorces','Population', 'Marriages_per_1000', 'Divorces_per_1000'])

#populate the columns with the data coming from the subsets above using append()
finalMarriages = finalMarriages.append(marriages1900)
finalMarriages = finalMarriages.append(marriages1950)
finalMarriages = finalMarriages.append(marriages2000)

finalMarriages

,Year,Marriages,Divorces,Population,Marriages_per_1000,Divorces_per_1000
33,1900,709000.0,56000.0,76094000,9.3,0.7
83,1950,1667000.0,385000.0,151684000,11.0,2.5
133,2000,2315000.0,944000.0,282398000,8.2,3.3

In [72]:
import plotly.graph_objs as go

# create trace1 
trace1 = go.Bar(
                x = finalMarriages.Year,
                y = finalMarriages.Marriages_per_1000,
                name = "marriages per capita",
                marker = dict(color = 'rgba(0, 102, 255, 0.5)',
                             line=dict(color='rgb(0,0,0)',width=1.5)),
                text = finalMarriages.Marriages_per_1000)
# create trace2 
trace2 = go.Bar(
                x = finalMarriages.Year,
                y = finalMarriages.Divorces_per_1000,
                name = "divorces per capita",
                marker = dict(color = 'rgba(153, 255, 102, 0.5)',
                              line=dict(color='rgb(0,0,0)',width=1.5)),
                text = finalMarriages.Divorces_per_1000)

data = [trace1, trace2]
layout = go.Layout(barmode = "group", 
                   title=go.layout.Title(text="Marriages and Divorces in 1900, 1950 and 2000"), 
                   xaxis= dict(title= 'Year',ticklen= 10,zeroline= False),
                   yaxis= dict(title= 'Marriages and Divorces',ticklen= 10,zeroline= False))
fig = go.Figure(data = data, layout = layout)
iplot(fig)

In [12]:
print('screenshot in case you do not run the code again:')
Image(url= "https://github.com/MatiasECP/Matias.Contreras.BDAT1004PS3/blob/main/Q7.PNG?raw=true")

screenshot in case you do not run the code again:

# Question 8

Create a horizontal bar chart that compares the deadliest actors in Hollywood. Sort the actors by their kill count and label each bar with the corresponding actor's name. Don't forget to label your axes!

In [73]:
import numpy as np 
import pandas as pd 

from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

actors = pd.read_csv('actor_kill_counts.csv') #read the csv and make it a dataframe
actors = actors.sort_values('Count')          #sort it by kil count (smallest to biggest for reversed plot)
actors = actors.reset_index(drop=True)        #reset index to reorganize data
actors.head()

            Actor  Count
0   Wesley Snipes    193
1      Clive Owen    194
2          Jet Li    201
3    Nicolas Cage    204
4  Clint Eastwood    207

In [74]:
# create trace1 
trace1 = go.Bar(
                x = actors.Count,
                y = actors.Actor,
                orientation='h',
                name = "Kill count per actor",
                marker = dict(color = 'rgba(255, 51, 0, 0.8)',
                             line=dict(color='rgb(0,0,0)',width=1.5)),
                text = finalMarriages.Marriages_per_1000)


data = [trace1]
layout = go.Layout(barmode = "group", 
                  title=go.layout.Title(text="Kill Count for Holywood Actors!"), 
                  xaxis= dict(title= 'Kills',ticklen= 10,zeroline= False),
                  yaxis= dict(title= 'Actor',ticklen= 10,zeroline= False),                   
                  )

fig = go.Figure(data = data, layout = layout)
iplot(fig)

In [10]:
print('screenshot in case you do not run the code again:')
Image(url= "https://github.com/MatiasECP/Matias.Contreras.BDAT1004PS3/blob/main/Q8.PNG?raw=true")

screenshot in case you do not run the code again:

# Question 9

Create a pie chart showing the fraction of all Roman Emperors that were assassinated.

Make sure that the pie chart is an even circle, labels the categories, and shows the percentage breakdown of the categories.

In [75]:
import numpy as np 
import pandas as pd 

from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

rome = pd.read_csv('roman-emperor-reigns.csv')          #read the csv and make it a dataframe

In [76]:
#value_counts to test if %s shown in the pie chart are accurate in relation to the data set... and it is!
rome['Cause_of_Death'].value_counts()
rome['Emperor'].value_counts()

Augustus        1
Florian         1
Maximian        1
Diocletian      1
Carinus         1
               ..
Gordian II      1
Pupienus        1
Balbinus        1
Gordian III     1
Theodosius I    1
Name: Emperor, Length: 68, dtype: int64

In [77]:
#code referenced from BDAT 1004 lecture.

# data preparation
pie1_list = rome['Emperor'].value_counts()     #count of total number of emperors in the data set
labels = rome.Cause_of_Death                   #define labels for cause of death

# figure
fig = {
  "data": [
    {
      "values": pie1_list,
      "labels": labels,
      "domain": {"x": [.2, .5]},
      "name": "% of Emperors dead due to this cause",
      "hoverinfo":"label+percent+name",
      "hole": 0,
      "type": "pie"
    },],
  "layout": {
        "title":"Cuase of Death for Roman Emperors",
        "annotations": [
            { "font": { "size": 20},
              "showarrow": False,
              "text": "% of Empererors' Cause of Death",
                "x": 0.20,
                "y": 1      
            },
        ]
    }
}
iplot(fig)

In [9]:
print('screenshot in case you do not run the code again:')
Image(url= "https://github.com/MatiasECP/Matias.Contreras.BDAT1004PS3/blob/main/Q9.PNG?raw=true")

screenshot in case you do not run the code again:

# Question 10
Create a scatter plot showing the relationship between the total revenue earned by arcades and the number of Computer Science PhDs awarded in the U.S. between 2000 and 2009.

Don't forget to label your axes!

Color each dot according to its year.

In [78]:
import numpy as np 
import pandas as pd 

from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go

arcade = pd.read_csv('arcade-revenue-vs-cs-doctorates.csv')          #read the csv and make it a dataframe

#clean data columns for easier usage in further codes
arcade.columns = arcade.columns.str.replace(' ','_')
arcade.columns = arcade.columns.str.replace('(','')
arcade.columns = arcade.columns.str.replace(')','')

arcade

<ipython-input-78-b34809c1f990>:13: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

<ipython-input-78-b34809c1f990>:14: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

   Year  Total_Arcade_Revenue_billions  Computer_Science_Doctorates_Awarded_US
0  2000                          1.196                                     861
1  2001                          1.176                                     830
2  2002                          1.269                                     809
3  2003                          1.240                                     867
4  2004                          1.307                                     948
5  2005                          1.435                                    1129
6  2006                          1.601                                    1453
7  2007                          1.654                                    1656
8  2008                          1.803                                    1787
9  2009                          1.734                                    1611

In [79]:
# prepare data frames for each year required. My apologies if it this solution is considered hardcoded.

arcade2000 = arcade[arcade.Year == 2000]
arcade2001 = arcade[arcade.Year == 2001]
arcade2002 = arcade[arcade.Year == 2002]
arcade2003 = arcade[arcade.Year == 2003]
arcade2004 = arcade[arcade.Year == 2004]
arcade2005 = arcade[arcade.Year == 2005]
arcade2006 = arcade[arcade.Year == 2006]
arcade2007 = arcade[arcade.Year == 2007]
arcade2008 = arcade[arcade.Year == 2008]
arcade2009 = arcade[arcade.Year == 2009]

# creating one trace per subset above (10 total)
trace1 =go.Scatter(
                    x = arcade2000.Total_Arcade_Revenue_billions,
                    y = arcade2000.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2000",
                    marker = dict(color = 'rgba(255, 128, 255, 0.8)'),
                    text= arcade.Year)

trace2 =go.Scatter(
                    x = arcade2001.Total_Arcade_Revenue_billions,
                    y = arcade2001.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2001",
                    marker = dict(color = 'rgba(204, 51, 255, 0.8)'),
                    text= arcade.Year)

trace3 =go.Scatter(
                    x = arcade2002.Total_Arcade_Revenue_billions,
                    y = arcade2002.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2002",
                    marker = dict(color = 'rgba(102, 153, 255, 0.8)'),
                    text= arcade.Year)

trace4 =go.Scatter(
                    x = arcade2003.Total_Arcade_Revenue_billions,
                    y = arcade2003.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2003",
                    marker = dict(color = 'rgba(204, 51, 153, 0.8)'),
                    text= arcade.Year)

trace5 =go.Scatter(
                    x = arcade2004.Total_Arcade_Revenue_billions,
                    y = arcade2004.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2004",
                    marker = dict(color = 'rgba(102, 255, 204, 0.8)'),
                    text= arcade.Year)

trace6 =go.Scatter(
                    x = arcade2005.Total_Arcade_Revenue_billions,
                    y = arcade2005.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2005",
                    marker = dict(color = 'rgba(51, 51, 0, 0.8)'),
                    text= arcade.Year)

trace7 =go.Scatter(
                    x = arcade2006.Total_Arcade_Revenue_billions,
                    y = arcade2006.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2006",
                    marker = dict(color = 'rgba(255, 255, 0)'),
                    text= arcade.Year)

trace8 =go.Scatter(
                    x = arcade2007.Total_Arcade_Revenue_billions,
                    y = arcade2007.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2007",
                    marker = dict(color = 'rgba(153, 204, 0, 0.8)'),
                    text= arcade.Year)

trace9 =go.Scatter(
                    x = arcade2008.Total_Arcade_Revenue_billions,
                    y = arcade2008.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2008",
                    marker = dict(color = 'rgba(255, 153, 0, 0.8)'),
                    text= arcade.Year)

trace10 =go.Scatter(
                    x = arcade2009.Total_Arcade_Revenue_billions,
                    y = arcade2009.Computer_Science_Doctorates_Awarded_US,
                    mode = "markers",
                    name = "2009",
                    marker = dict(color = 'rgba(255, 0, 0, 0.8)'),
                    text= arcade.Year)




data = [trace1, trace2, trace3, trace4, trace5, trace6, trace8, trace9, trace10]
layout = dict(title = 'Revenue earned by arcades vs Computer Science PhDs awarded in the U.S. between 2000 and 2009.',
              xaxis= dict(title= 'Arcade Revenues in Billion',ticklen= 5,zeroline= False),
              yaxis= dict(title= 'Computer Science Doctorates Awarded',ticklen= 5,zeroline= False)
             )
fig = dict(data = data, layout = layout)
iplot(fig)

In [11]:
print('screenshot in case you do not run the code again:')
Image(url= "https://github.com/MatiasECP/Matias.Contreras.BDAT1004PS3/blob/main/Q10.PNG?raw=true")

screenshot in case you do not run the code again: